/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
      --font-header: 'PressStart2P-Regular';
      --font-page: 'Inter-Variable';
      --heart-color: #ff0000;
    }
